body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-navbar {
  background-color: rgb(236, 113, 13);
}

.main-content {
  margin-top: 70px;
}

.site-header {
  font-family: 'Metal Mania', Courier, monospace;
  font-size: 60px;
}
.header-test-1{
  font-family: 'Metal Mania', Courier, monospace;
  font-size: 60px;
  font-weight: regular;
}

.header-test-2 {
  font-family: 'Metal Mania', Courier, monospace;
  font-size: 60px;
}

.header-test-3{
  font-family: 'Metal Mania', Courier, monospace;
  font-size: 60px;
  
}

.movie-title {
  font-family: 'Bodoni Moda', serif;
  font-weight: bold;
}

