@font-face {
  font-family: 'hallowed grounds';
  src: url('../public/webfontkit-20231019-154811/hallowedgrounds-webfont.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Boruna';
  src: url('../public/boruna-font/BorunaDemoVersionRegular-vmDA7.otf');
}
@font-face {
  font-family: 'Hellghost';
  src: url('../public/hellghost-font/HellghostRoughRegular-8MK9A.ttf');
}



body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .app-container {
  background-color: black;
} */


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.site-header {
  padding-top: 30px;
  font-family: 'Metal Mania', Courier, monospace;
  text-align: center;
  font-size: calc(20px + 18vh);
  line-height: calc(20px + 20vh);
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}


/* countdown design stuff */
.countdown-container {
  text-align: center;
  color: white;
}
.countdown-title {
  font-family: 'Hellghost';
  text-transform: uppercase;
  color: #edf2ef;
  letter-spacing: 2px;
  font-size: calc(10px + 6vh);
  line-height: calc(1px + 10vh);
  text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4, 2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd;
}
.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.components-container {
  display: flex;
  width: 100%;
  max-width: 40%;
  justify-content: space-between;
}
.days-container,
.hours-container,
.minutes-container, 
.seconds-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('https://static.vecteezy.com/system/resources/previews/018/886/535/original/candy-corn-icon-png.png');
  background-size: cover;
  width: 110px;
  height: 110px;
  /* border-radius: 99px; */
}

.days,
.hours,
.minutes,
.seconds {
  font-size: 1.7em;
  font-family: 'Modern Antiqua'; 
  color: #2B1331;
  text-shadow: 1px 1px 2px #6c307c, -1px -1px 2px #895996, 1px -1px 1px #a682b0, -1px 1px 1px #c4acca;
  margin: 8px 0;
  background: transparent;
  margin-bottom: 2px;
}


.days-label,
.hours-label,
.minutes-label,
.seconds-label {
  font-size: 1.3em;
  font-family: 'parisienne', cursive;
  /* text-transform: uppercase; */
  margin-bottom: 5px;
  background: transparent;
  color: #2B1331;
  text-shadow: 1px 1px 2px #6c307c, -1px -1px 2px #895996, 1px -1px 1px #a682b0, -1px 1px 1px #c4acca;
}


.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: inherit;
}

.sort-filter-container {
  text-align: center;
}

.sameRow {
  display: inline-block;
  text-align: center;
  padding: 10px
}

.movie-card {
  width: calc(25% - 20px);
  height: 315px;
  overflow: hidden; 
  margin: 10px;
  /* border: 1px solid #ccc; */
  padding: 8px;
  text-align: center;
  background: inherit;
  /* border: 2px solid red; */
  position: relative;
  border-radius: 10px;

}
.movie-card:hover .movie-info{
  display: block;
  background: url("");
}
.movie-card:hover img{
  filter: blur(5px);
}

.movie-info{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: none; 
  color: white;
  padding: 10px;
  text-align: center;
  transition: background 0.3s;
  z-index: 1;
  text-shadow: 1px 1px 2px #4C4E52, -1px -1px 2px #4C4E52, 1px -1px 2px #4C4E52, -1px 1px 2px #4C4E52;
}

.card-text {
  font-family: 'Bodoni Moda', serif;
  background: transparent;
  font-size: 20px;
  font-weight: bold;
}
.runtime-text {
  margin-bottom: 3px;
}

.film-rating {
  margin-top: 3px;
}

.poster-container{
  width: 100%;
  height: 335px;
  /* overflow: hidden; */
  position: relative;
  /* border: 1px solid white; */
  /* border-radius: 10px; */
}

.movie-img{
  max-width: 100%;
  max-height: 100%;
  height: 300px;
  width: 220px;
  /* height: 100%;
  width: 100%; */
  filter: blur(0);
  transition: 0.2s ease-in-out;
  /* object-fit: contain; */
}
.movie-img:hover {
  filter: blur(5px);
}

.movie-title {
  font-family: 'hallowed grounds', serif;
  text-transform: lowercase;
  font-weight: bold;
  font-size: 24;
  letter-spacing: 2px;
  background: rgba(0, 0, 0, 0.5);
  background-clip: text;
  color: white;
  /* text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; */
  /* background: black; */
}

.button-container {
  padding-top: 10px;
  text-align: center;
  padding-bottom: 20px;
}

.load-more {
  cursor: pointer;
  color: #240046;
  background: #ff9e00;
  border: 1px solid #240046;
  box-shadow: 3px 3px 1px 1px #ff7900, 3px 3px 1px 1px #ff6d00;
  font-family: 'Bodoni Moda', serif;
  font-size: 30px;
  font-weight: 600;
  height: 5rem;
  width: 12rem;
  outline: none;
  border-radius: 6rem;
  letter-spacing: 0px;
}
.load-more:hover {
  color: #ff6d00;
  background: #5a189a;
  border: 1px solid #ff6d00;
  box-shadow: 3px 3px 1px 1px #3c096c, 3px 3px 1px 1px #240046;
}




@media (max-width: 768px) {
  .movie-card {
    width: calc(33.33% + 20px);
  }
  .movie-title {
    font-size: 0.9rem;
  }
}
@media (max-width: 576px) {
  .movie-title {
    font-size: 0.8rem;
  }
}

@-webkit-keyframes blink {
  20%, 24%, 55% {
    color: #111;
    text-shadow: none;
  }

  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

.footer-container {
  height: 100%;
  background-color:#ff8d00;
  text-align: center;
  padding: 25px; 
  margin-top: 40px;
}

@keyframes blink {
  20%, 24%, 55% {
    color: #111;
    text-shadow: none;
  }
  
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}


.custom-navbar {
  background-color: #ff8d00;
  font-family: 'Hellghost';
  font-weight: bold;
  font-size: 2.2rem;
  height: 4.5rem;
  flex-grow: 0;
}

@media (max-width: 768px) {
  .custom-navbar {
    width: calc(100%);
    height: calc(10% - 20px);
    font-size: 2rem;
  }

}
@media (max-width: 576px) {
  .custom-navbar {
    width: calc(54%);
    height: calc(1% - 20px);
    font-size: 0.5rem;
  }
}

.main-content {
  margin-top: 6.5vh;
  background: #412A3D;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 18px 5px 10px 5px;
  width: 100%;
  /* background-color: rgb(236, 113, 13); */
}

.nav-links li{
  /* background-color: rgb(236, 113, 13); */
  margin: 0 100px;
}

.nav-links li:hover {
  text-shadow: 0 0 7px #eeff00;
}

.nav-link {
  text-decoration: none;
  flex: 1;
  text-align: center;
  padding: 10px 0;
}

.nav-link:hover {
  transform: scale(1.5);
}

.new-movie-form h4 {
  font-family: 'hallowed grounds';
  color:rgb(236, 113, 13);
  font-size: 2rem;
}

.new-movie-form label {
  font-family: 'Chiller';
  font-weight: bold;
  color: rgb(236, 113, 13);
  font-size: 1.5rem;
}


.new-movie-form input {
 background-color: #3a04539f;

}

.new-movie-form select {
  background-color: #3a04539f;
}

.new-movie-form button {
  background-color: #3a04539f;
  color: rgb(235, 125, 36);
  font-family: 'Creepster';
  width: 11rem;
  height: 4.5rem;
  font-size: 2rem;
  margin-top: 1rem;
}

.new-movie-form button:hover {
  text-shadow: 0 0 5px yellow;
}

.new-movie-form {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  border: 5px solid #3a04539f;
  box-shadow: 0 0 20px rgb(65, 21, 116);
  
}

form {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 50%
}

.new-movie-form div {
  margin: 10px 0;
}

.new-movie-form input{
  padding: 2px;
  width: 100%;
  font-family: "Bodoni";
  font-size: 1.2rem;
  color: rgb(235, 125, 36)
}

.new-movie-form select {
  padding: 2px;
  width: 100%;
  font-family: "Bodoni";
  color: rgb(235, 125, 36);
  font-size: 1.2rem;
}

::placeholder {
  color: rgb(235, 125, 36);
  text-align: center;
}

/* selects */
.selector select {
  font-family: 'Modern Antiqua'
}

.sort-selector {
  background: #ff8d00;
  position: relative;
  font-size: 18px;
  font-family: 'poppins';
  border: none;
  border-radius: 8px;
  width: 155px;
  text-align: center;
}

.rating-selector {
  background: #ff8d00;
  font-size: 18px;
  font-family: 'poppins';
  border: none;
  border-radius: 8px;
  width: 155px;
  text-align: center;
}

.genre-selector {
  margin-left: 20px;
  background: #ff8d00;
  font-size: 18px;
  font-family: 'poppins';
  border: none;
  border-radius: 8px;
  width: 155px;
  text-align: center;
}




/* about us page */
.about-container {
  color: white;
  margin: 5%;
  background: #A78AB7;
  display: grid;
  grid-template-columns: repeat(4, .5fr);
  grid-template-rows: repeat(5, .5fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-radius: 60px;
}

.header {
  font-family: 'boruna';
  font-size: 140px;
  text-align: center;
  margin: 0em 0 -1em;
  padding-top: 15;
  color: #db5b34;
  text-shadow: 3px 4px #ffac88;
  z-index: 4;
}

.about-section-header {
  font-family: 'boruna';
  font-size: 75px;
  color:#ffac88;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  font-family: 'poppins';
  
}


.header2 {
  margin-bottom: 3rem;
  margin-left: -3.5em;
  font-size: 90px;
  /* border: 2px solid rgb(235, 125, 36); */
  text-decoration: underline;
}

.img1 {
  margin-left: 60px;
  margin-top: 25px;
  border-radius: 20px;
}

.text1 {
  /* border: 2px solid rgb(235, 125, 36); */
  width: 200%;
  height: 10px;
  margin-top: -9rem;
  margin-right: -7em;
  padding-right: 10%;
  font-size: 23px;
  text-align: center;
}

.text2 {
  /* border: 2px solid rgb(235, 125, 36); */
  width: 180%;
  height: 150px;
  padding-top: 18px;
  margin-top: 3rem;
  margin-left: 80px;
  font-size: 20px;
  text-align: center;
}

.img2 {
  border-radius: 20px;
  margin-top: -7em;
  margin-left: 60px;
}

.header3 {
  /* border: 2px solid rgb(235, 125, 36); */
  font-size: 90px;
  width: 200%;
  height: 120px;
  margin-left: -16rem;
  margin-top: 4rem;
}

.img3 {
  border-radius: 20px;
  margin-left: 5rem;
  margin-top: -7rem;
  margin-bottom: -2em;
  /* border: 2px solid rgb(235, 125, 36); */
}

.header4 {
  /* border: 2px solid rgb(235, 125, 36); */
  margin-left: -8rem;
  margin-top: -1rem;
  height: 50%;
}

.text3 {
  /* border: 2px solid rgb(235, 125, 36); */
  width: 200%;
  height: 40%;
  margin-bottom: -5rem;
  margin-top: 7rem;
  margin-left: -28rem;
  font-size: 18px;
}



.header { grid-area: 1 / 2 / 2 / 4; }
.img1 { grid-area: 2 / 1 / 3 / 3; }
.header2 { grid-area: 2 / 4 / 3 / 5; }
.text1 { grid-area: 3 / 3 / 4 / 4; }
.img2 { grid-area: 4 / 3 / 5 / 5; }
.text2 { grid-area: 3 / 1 / 4 / 2; }
.header3 { grid-area: 4 / 2 / 5 / 3; }
.img3 { grid-area: 5 / 1 / 6 / 3; }
.header4 { grid-area: 5 / 3 / 6 / 4; }
.text3 { grid-area: 5 / 4 / 6 / 5; }






/* {"Jet":"393431",
  "Raisin black":"26201E",
  "Pink":"FABDC5",
  "Champagne pink":"FAE0D3",
  "Sandy brown":"F49B5F"} */